* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-md;
}
