<section class="p-5 flex flex-wrap justify-center gap-4">
  <p-card styleClass="shadow-sm shadow-gray-800 w-[350px] h-[450px]">
    <ng-template pTemplate="header">
      <img alt="card-header" src="assets/images/background/authentication.jpg" />
    </ng-template>

    <section class="text-center">
      <button pButton type="button" label="FREE FIRE" class="p-button-secondary" (click)="recharge()"></button>
      <p-divider></p-divider>
    </section>

    <ng-template pTemplate="footer">
      <p class="text-center">DESCRIPCIÓN</p>
    </ng-template>
  </p-card>
</section>
