<p-card>
  <ng-template pTemplate="content">
    <form class="p-fluid space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="p-field max-w-xl mx-auto">
        <label>NOMBBRE</label>
        <input type="text" required pInputText formControlName="name" />
      </div>

      <div class="p-field max-w-xl mx-auto">
        <label>TELÉFONO</label>
        <app-input-phone formControlName="phoneNumber"></app-input-phone>
      </div>

      <div class="p-field w-full md:text-center">
        <label>OPCIONES</label>
        <app-pick-list formControlName="charge"></app-pick-list>
      </div>

      <div class="p-field flex flex-col lg:flex-row items-center justify-around">
        <div class="max-w-xl">
          <label>REFERENCIA</label>
          <input type="text" required pInputText formControlName="reference" />
        </div>

        <div class="max-w-xl">
          <input
            (change)="onChangeFile($event)"
            type="file"
            accept="image/*"
            class="block mt-6 w-full text-sm text-yellow-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-900 file:text-white hover:file:bg-gray-800 transition-colors"
          />
        </div>
      </div>

      <div class="mt-10 max-w-xl mx-auto">
        <button pButton type="submit" label="ACEPTAR" class="p-button-secondary"></button>
      </div>
    </form>
  </ng-template>
</p-card>

<p-confirmDialog></p-confirmDialog>
