<p-card>
  <ng-template pTemplate="content">
    <form class="p-fluid space-y-4">
      <div class="p-field max-w-xl mx-auto">
        <label>NOMBBRE</label>
        <input type="text" required pInputText />
      </div>

      <div class="p-field max-w-xl mx-auto">
        <label>TELÉFONO</label>
        <input type="number" required pInputText />
      </div>

      <div class="p-field max-w-xl mx-auto">
        <label>ID DEL JUGADOR</label>
        <input type="text" required pInputText />
      </div>

      <div class="p-field max-w-xl mx-auto">
        <label>CAMPO EDITABLE</label>
        <input type="text" required pInputText />
      </div>

      <div class="p-field w-full text-center">
        <label>OPCIONES</label>
        <app-pick-list></app-pick-list>
      </div>

      <div class="p-field flex items-center justify-around">
        <div class="max-w-xl">
          <label>REFERENCIA</label>
          <input type="text" required pInputText />
        </div>

        <div class="max-w-xl">
          <input
            type="file"
            class="block mt-6 w-full text-sm text-yellow-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-900 file:text-white hover:file:bg-gray-800 transition-colors"
          />
        </div>
      </div>

      <div class="mt-10 max-w-xl mx-auto">
        <button pButton type="button" label="ACEPTAR" class="p-button-secondary"></button>
      </div>
    </form>
  </ng-template>
</p-card>
