<p-card>
  <ng-template pTemplate="content">
    <form class="p-fluid space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="p-field max-w-xl mx-auto text-center">
        <label>TELÉFONO</label>
        <app-input-phone formControlName="phoneNumber" class="block my-10"></app-input-phone>
      </div>

      <div class="mt-10 max-w-xl mx-auto">
        <button pButton type="submit" label="ACEPTAR" class="p-button-secondary"></button>
      </div>
    </form>
  </ng-template>
</p-card>
