<p-card>
  <ng-template pTemplate="content">
    <form class="p-fluid space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="p-field max-w-xl mx-auto">
        <label>NOMBBRE</label>
        <input type="text" required pInputText formControlName="displayName" />
      </div>

      <div class="p-field max-w-xl mx-auto">
        <label>TELÉFONO</label>
        <app-input-phone formControlName="phoneNumber"></app-input-phone>
      </div>

      <div class="mt-10 max-w-xl mx-auto">
        <button pButton type="submit" label="ACEPTAR" class="p-button-secondary"></button>
      </div>
    </form>
  </ng-template>
</p-card>
